<div class="row">
  <div class="col-md-12">
    {{#unless courses}}
    <strong>{{ message }}</strong>
    {{/unless}}
    <br />
    <h2>Students</h2>
    <hr />

    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>Course Code</th>
                <th>Course Description</th>
            </tr>
            {{#each courses}}
            <tr>
                <td><a href="/course/{{ courseId }}">{{ courseId }}</a></td>
                <td><a href="/students?course={{ courseId }}">{{ courseDescription }}</a></td>
            </tr>
        {{/each}}
        </table>
    </div>
  </div>
</div>

